/* Color Palette
Blue - 2B4971
Gloom Blue - 375571
White - F2EEE3
Cream - F3DBB6
Bronze - BF7B4F
-------*/

/* Global styles
----------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  /*font-family: 'Press Start 2P', cursive; Stylized font for pixel look*/
  /*font-family: 'Kelly Slab', cursive;*/
  /*font-family: 'VT323', monospace; Stylized Font pseudo pixel*/
  font-family: 'Source Code Pro', monospace;
  margin: 0;
}
h1, h2 {
  font-family: 'Kelly Slab', cursive;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0px;
}
h3 {
  margin: 0;
}
a {
  color: #BF7B4F;
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: auto;
}
.col-narrow {
  width: 30%;
  float: left;
}
.col-wide {
  width: 70%;
  float: left;
  padding-left: 20px;
}
.uppercase {
  text-transform: uppercase;
}
/*Header and Footer
----------------------*/
header, footer {
  background: #2B4971;
  color: #F3DBB6;
}

/* header */
header {
  padding-top: 50px;
}
header h1, header h2 {
  color: #F2EEE3;
  margin: 0;
  text-align: center;
}

.profile-img {
  border-radius: 50%;
}
/* footer */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}
/* Navigation
------------------------*/
nav {
  text-align: center;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text_transform: uppercase;
  font-weight: 700;
}
/*Work Experience
----------------------*/
.work {
  background: #375571;
}
.job-description p:first-of-type {
  margin-top: 0;
}
h3 ~ p {
  margin: 0;
}

/*Education
----------------------*/
.education {
  background: #375571;
}
p + h3 {
  margin-top: 30px;
}
